$border: 1px solid #808080;

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: $border;
    border-radius: 5px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 40px;
    padding: 8px;
    border-bottom: $border;
}

.timer {
    font-size: 40px;
    font-weight: 700;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showKey {
    font-size: 160px;
}

.waiting {
    max-width: 300px;
    min-height: 80px;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 24px;
}
